<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form of Qura</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>This is the Form of Qura</h1>
    <form method="post" action="/posts">
      <label for="user-name">Username:</label>
      <input
        type="text"
        name="username"
        id="user-name"
        placeholder="Please Enter Your Name"
      />
      <label for="user-age">Age:</label>
      <input
        type="number"
        name="age"
        id="user-age"
        placeholder="Please Enter Your Age"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
