<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Page</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Show Detail Qura</h1>
    <h3>ID: <%= post.id%></h3>
    <div class="border-div">
      <h4>Your Name is: <%= post.username%></h4>
      <h5>Your Age is: <%= post.age%></h5>
    </div>
  </body>
</html>
