body {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: darkred;
  font-size: 2.5rem;
}
.elements {
  border: solid 2px black;
  margin: 1%;
  border-radius: 10px;
  text-align: center;
  width: 20%;
  background-color: antiquewhite;
  margin-left: 40%;
}
.elements p {
  font-size: 1.3rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  width: 200px;
  margin: 10px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
}
label {
  width: 200px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
  color: darkred;
}
form button {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  background-color: green;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  width: 100px;
}
a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid black;
  background-color: green;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 200px;
}
.detail-btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid black;
  background-color: green;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 38%;
}
h3 {
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 2rem;
  padding: 2%;
  margin: 0px;
}
h4,
h5 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: black;
  font-size: 2rem;
}
.border-div {
  background-color: rgba(192, 181, 21, 0.411);
  padding: 2%;
  margin: 0px;
}
.del-btn {
  margin: 2%;
  height: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  background-color: red;
  border-color: white;
  width: 85%;
}
